# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xm\tomcat9.0.19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
